* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    background-color: black;
    color: white;
}

.navbar {
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 12vh;
}

.user-info {
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 10%;
    justify-content: center;
}

.navbar-logo-img {
    width: 2.5rem;
    cursor: pointer;
}

.nav-logo {
    font-family: 'Libre Barcode 128 Text', cursive;
    color: white;
    font-size: 30px;
    width: 20%;
    text-align: center;
}

.nav-ul {
    display: flex;
    width: 50%;
    justify-content: space-around;
    list-style: none;
}

.nav-li {
    /* width: 80%; */
    margin: auto 0;
    list-style: none;
    padding: 0 1rem;
}

.nav-li a,
.navbar a {
    color: white;
    font-family: 'Source Code Pro', monospace;
    text-decoration: none;
    cursor: pointer;
}

.search-div {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.search-bar {
    width: 80%;
    margin: auto;
    outline: none;
    height: 40%;
    background-color: rgb(28, 28, 27);
    border: none;
    color: white;
    padding-left: 10px;
}

.search-result {
    top: 10vh;
    width: 15%;
    margin-left: 3rem;
    max-height: 7rem;
    min-height: 1rem;
    position: absolute;
    background-color: black;
    border: 1px solid rgb(53, 53, 50);
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    overflow-y: auto;
}

.search-result::-webkit-scrollbar {
    display: none;
}

.search-result a {
    width: 100%;
    height: 3rem;
    min-height: 3rem;
    display: flex;
    padding-left: 15px;
    align-items: center;
    font-family: 'Source Code Pro', monospace;
    color: white;
}

.search-result a:hover {
    background-color: grey;
    color: black;
    font-weight: 900;
}

.home-container {
    width: 50vw;
    margin: auto;
    padding-top: 5rem;
    display: grid;
    grid-template-columns: auto auto auto;
    text-align: center;
}

.home-container>p {
    /* padding: 2rem; */
    font-family: 'Dancing Script', cursive;
    color: white;
    font-size: 20px;
}
.home-quote {
    width: 90vw;
    margin: 5rem auto;
    padding: 2rem;
    text-align: center;
    font-weight: 900;
    font-size: 15px;
    letter-spacing: 4px;
    font-family: 'Source Code Pro', monospace;
    color: black;
    background-color: grey;
    /* border: 1px dashed white; */
}

.home-quote:hover {
    color: black;
    background-color: grey;
}

.blog-main {
    color: antiquewhite;
}

.tweet-container {
    /* height: 100vh; */
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 6rem auto;
    /* border-right: 1px solid gray;
    border-left: 1px solid gray; */
    justify-content: flex-start;
}

.tweet {
    width: 60%;
    min-height: 11rem;
    margin: 2rem auto;
    display: block;
    flex-direction: row;
    /* border-bottom: 1px solid rgb(26, 25, 22); */
    border-top: 1px solid grey;
    border-radius: 15px;
}

.tweet-info {
    width: 100%;    
    height: 20%;
    min-height: 3rem;
    display: grid;
    grid-template-columns: 10% 80% 10%;
    place-items: center;
}

.tweet-info p {
    font-size: 15px;
    font-family: 'Source Code Pro', monospace;
    text-align: start;
    width: 100%;
}

.tweet-content {
    display: flex;
    align-items: center;
    width: 100%;
    height: 60%;
    min-height: 4rem;
    background-color: rgb(26, 25, 22);

}
.tweet-content p {
    width: 90%;
    margin: 1rem auto;
    font-size: 20px;
    font-family: 'Source Code Pro', monospace;

}

.tweet-control {
    display: grid;
    grid-template-columns: auto auto auto;
    place-items: center;
    width: 100%;
    height: 20%;
    min-height: 3rem;
    cursor: pointer;
    border-bottom: 1px solid grey;
    border-radius: 15px;
}

.tweet-control .tweet-control-1 {
    justify-content: center;
    display: flex;
    width: 100%;
}

.tweet-control .tweet-control-2 {
    justify-content: center;
    display: flex;
    width: 100%;
}

.tweet-control .tweet-control-3 {
    justify-content: center;
    display: flex;
    width: 100%;
}

.tweet .tweet-info .material-symbols-outlined {
    /* padding: 8px 5px 0 0; */
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48;
  width: 10%;


  /* width: 40px; */
  /* background-color: aliceblue; */
}


.tweet-write {
    display: flex;
    align-items: center;
    width: 50%;
    margin: 4rem auto;
}
.tweet-write textarea {
    margin: auto 1rem;
    border: none;
    /* border-left: 1px solid grey;
    border-right: 1px solid grey;    */
    background-color: rgb(26, 25, 22);
    color: white;
    padding: 1rem 1rem;
    font-size: 25px;
    outline: none;
    resize: none;
}

.tweet-write a {
    color: white;
    text-decoration: none;
    font-family: 'Source Code Pro', monospace;
    /* font-family: 'DynaPuff', cursive; */
    border: 1px solid grey;
    padding: 8px;
    margin: auto;
    border-radius: 15px;
    cursor: pointer;
}

.tweet-write a:hover{
    background-color: white;
    color: black;
    font-weight: bold;
}

.login-root-container {
    width: 40vw;
    height: 60vh;
    margin: 10rem auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    border: 1px solid rgb(53, 53, 50);
    box-shadow: 0 0 65px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    font-family: 'Source Code Pro', monospace;

}
.login-root-container .login-head {
    font-size: 35px;
    font-weight: bolder;
    margin: 0 0 3rem 0;
}
.login-root-container .login-inputs {
    padding: 0.5rem;
    margin: 1rem;
    width: 50%;
    background-color: rgb(53, 53, 50);
    border: 1px solid grey;
    outline: none;
    color: white;
}

.login-more-options {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.login-more-options .login-btn {
    margin-top: 2rem;
}

.login-btn {
    width: 4.5rem;
    text-align: center;
    padding: 5px;
    border: 1px solid grey;
    margin: 1rem 0 2rem 0;
    text-decoration: none;
    color: white;
    cursor: pointer;
}

.login-btn:hover {
    background-color: white;
    color: black;
    font-weight: bolder;
}

.user-profile-root {
    width: 50vw;
    height: 50vh;
    display: block;
    position: relative;
    top: 5rem;
    z-index: 1 !important;
    /* background-color: aqua; */
    margin: auto;
    border: 1px solid grey;
    box-shadow: 0 0 15px rgba(252, 251, 251, 0.934);
}

.user-profile-toplayer {
    display: grid;
    height: 50%;
    grid-template-columns: 30% 70%;
    place-items: center;
}

.user-profile-toplayer .user-profile-pp img {
    width: 100%;
    min-width: 100px;
    max-width: 150px;
}
.user-profile-stats {
    display: grid;
    grid-template-rows: auto auto auto;
    height: 100%;
    width: 100%;
    padding-left: 1rem;
    place-items: start;
    font-family: 'Source Code Pro', monospace;
}

.user-stat {
    width: 30%;
    display: flex;
    justify-content: center;
    color: grey;
}

.user-profile-username {
    font-weight: 700;
    padding-top: 1rem;
    font-size: 3rem;
}

.user-profile-btn {
    margin-top: 1.5rem;
    width: 100%;
    height: 2rem;
    display: flex;
    justify-content: center;
}

.user-follow-edit-btn {
    justify-self: center;
    width: 50%;
    font-weight: 600;
    background-color: blue;
    color: white;
    font-family: 'Source Code Pro', monospace;
}

.connection-line-horizontal {
    border: 5px solid red;
    box-shadow: 0 0 15px rgba(247, 5, 5, 1);
    height: 10rem;
    display: flex;
    float: right;
}

.connection-line-vertical {
    background: red;
    border: 4px solid red;
    border-radius: 15px;
    width: 50%;
    height: 6px;
    top: 9.9rem;
    right: 100%;
    display: flex;
    position: absolute;
    transition: all 0.5s;
}

.connection-line-vertical-glow {
    box-shadow: 0 0 15px rgba(247, 5, 5, 1);
    right: 0%;
}

.user-btn-glow {
    box-shadow: 0 0 15px rgb(0, 81, 255);
}

.border-left{
    border-left: 1px solid rgb(53, 53, 50);
}

.border-right{
    border-right: 1px solid rgb(53, 53, 50);
}

.user-info a {
    color: aliceblue;
}


.menu {
    display: none;
}

/* mobile section  */

@media only screen and (max-width: 920px) {

    .nav-logo {
        width: 25%;
        text-align: center;
    }

    .search-div {
        width: 45%;
    }

    .search-bar {
        width: 80%;
    }
    
    .user-info {
        width: 15%;
    }

    .user-info a {
        display: none;
    }

    .menu {
        width: 15%;
        text-align: center;
        display: block;
        cursor: pointer;
        user-select: none;
    }
    
    .nav-ul {
        height: 100%;
        width: 100vw !important;
        right: 100%;
        display: flex;
        z-index: 99 !important;
        top: 12vh;
        flex-direction: column;
        position: fixed;
        justify-content: start;
        transition: all 0.5s;
        background-color: black;
    }
    
    .nav-ul .nav-li {
        padding-left: 2rem;
        height: 5rem;
        display: flex;
        margin: 0 2rem !important;
        align-items: center;
        /* justify-content: center; */
        /* padding: 0 0 0 2rem !important; */
        background: linear-gradient(to right, red, black);
        background-size: 0px;
        background-repeat: no-repeat;
        transition: all 0.5s;
    }

    .nav-ul .nav-li:hover, .nav-li a {
        background-size: 100%;
        color: black;
    }

    .nav-ul .nav-li a {
        align-self: center;
        color: white;
        background-size: 100%;
        background-repeat: no-repeat;
        /* background-position: -; */
        border-bottom: 1px solid red;
    }

    .nav-ul-display {
        display: flex !important;
        right: 0% !important;
    }
    
    .home-container {
        padding-top: 1rem;
        grid-template-columns: auto;
    }
    
    .home-container p {
        padding: 1rem 0;
    }

    
}

